@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body
{
  font-family: "IBM Plex Sans", monospace;
  font-weight: 300;
  text-align: center;
}
footer
{
  line-height: 1.5;
}
.name
{
  color: #00ff88;
  font-size: 40px;
}
.para
{
  color: ghostwhite;
  font-size: 20px;
}
a 
{
  text-decoration: none;
}
